<div class="form-group autocompleteInputView">
  <label for="<%= ctx.id %>"><%= ctx.texts.inputLabel; %></label>
  <div class="input-group">
    <% if(ctx.disabled) { %>
    <input type="text" class="form-control" disabled>
    <% } else { %>
    <input type="text" class="form-control" id="<%= ctx.id %>" value="<%= ctx.initialValue %>">
    <% } %>
    <span class="input-group-btn">
      <button type="button" class="btn clearInput">
        <i class="mdi mdi-close"></i>
      </button>
    </span>
  </div>
  <select id="<%= ctx.id %>Results" class="form-control autocompleteResults d-none"><!-- Results will be shown here --></select>
</div>
